USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[KhoSach]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoSach](
	[MaKho] [varchar](10) NOT NULL,
	[TenKho] [nvarchar](25) NULL,
 CONSTRAINT [PK_KhoSach] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DauSach]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DauSach](
	[MaDauSach] [varchar](10) NOT NULL,
	[TenDauSach] [nvarchar](100) NULL,
	[NamXuatBan] [int] NULL,
	[GiaBia] [float] NULL,
	[SoTrang] [int] NULL,
	[MaLoaiSach] [varchar](10) NULL,
	[MaChuDe] [varchar](10) NULL,
	[MaNXB] [varchar](10) NULL,
	[MaKho] [varchar](10) NULL,
 CONSTRAINT [PK_DauSach] PRIMARY KEY CLUSTERED 
(
	[MaDauSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXB]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[MaNXB] [varchar](10) NOT NULL,
	[TenNXB] [nvarchar](50) NULL,
 CONSTRAINT [PK_NXB] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[MaChuDe] [varchar](10) NOT NULL,
	[TenChuDe] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChuDe] PRIMARY KEY CLUSTERED 
(
	[MaChuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSach]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSach](
	[MaLoaiSach] [varchar](10) NOT NULL,
	[TenLoaiSach] [nvarchar](25) NULL,
 CONSTRAINT [PK_LoaiSach] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuonSach]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuonSach](
	[MaSach] [varchar](10) NOT NULL,
	[MaDauSach] [varchar](10) NULL,
	[TinhTrang] [nvarchar](25) NULL,
 CONSTRAINT [PK_CuonSach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [varchar](10) NOT NULL,
	[TenTG] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](15) NULL,
	[NamSinh] [int] NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DauSach_TacGia]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DauSach_TacGia](
	[MaDauSach] [varchar](10) NOT NULL,
	[MaTG] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TacGia_DauSach] PRIMARY KEY CLUSTERED 
(
	[MaDauSach] ASC,
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ChiTiet_DauSach]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ChiTiet_DauSach]
AS
SELECT ds.MaDauSach, ds.TenDauSach, COALESCE (temp2.TenTacGia, N'Không có tác giả') AS TenTacGia, ds.NamXuatBan, ds.GiaBia, ds.SoTrang, COALESCE (temp.SoLuong, 0) AS SoLuong, ls.TenLoaiSach, cd.TenChuDe, dbo.NXB.TenNXB, ks.TenKho
FROM   dbo.DauSach AS ds INNER JOIN
           dbo.LoaiSach AS ls ON ds.MaLoaiSach = ls.MaLoaiSach INNER JOIN
           dbo.ChuDe AS cd ON ds.MaChuDe = cd.MaChuDe INNER JOIN
           dbo.NXB ON ds.MaNXB = dbo.NXB.MaNXB INNER JOIN
           dbo.KhoSach AS ks ON ds.MaKho = ks.MaKho LEFT OUTER JOIN
               (SELECT MaDauSach, COUNT(*) AS SoLuong
              FROM   dbo.CuonSach AS cs
              GROUP BY MaDauSach) AS temp ON ds.MaDauSach = temp.MaDauSach LEFT OUTER JOIN
               (SELECT ds.MaDauSach, STRING_AGG(tg.TenTG, ', ') AS TenTacGia
              FROM   dbo.DauSach AS ds LEFT OUTER JOIN
                         dbo.DauSach_TacGia AS ds_tg ON ds.MaDauSach = ds_tg.MaDauSach LEFT OUTER JOIN
                         dbo.TacGia AS tg ON ds_tg.MaTG = tg.MaTG
              GROUP BY ds.MaDauSach) AS temp2 ON ds.MaDauSach = temp2.MaDauSach
GO
/****** Object:  Table [dbo].[CT_PhieuMuon]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuMuon](
	[MaPhieuMuon] [varchar](15) NOT NULL,
	[MaSach] [varchar](10) NOT NULL,
	[TinhTrangMuon] [nvarchar](50) NULL,
	[DaTraSach] [bit] NULL,
	[TinhTrangTra] [nvarchar](50) NULL,
 CONSTRAINT [PK_CT_PhieuMuon] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuPhat]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuPhat](
	[MaPhieuPhat] [varchar](15) NOT NULL,
	[MaSach] [varchar](10) NOT NULL,
	[MaViPham] [varchar](15) NULL,
	[NopPhat] [float] NULL,
 CONSTRAINT [PK_CT_PhieuPhat] PRIMARY KEY CLUSTERED 
(
	[MaPhieuPhat] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaTheMuon] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[HinhAnh] [varbinary](max) NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[NgayCapThe] [date] NULL,
	[NgayHanThe] [date] NULL,
 CONSTRAINT [PK_DocGia] PRIMARY KEY CLUSTERED 
(
	[MaTheMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KieuMuon]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KieuMuon](
	[MaKieuMuon] [varchar](10) NOT NULL,
	[TenKieuMuon] [nvarchar](25) NULL,
 CONSTRAINT [PK_KieuMuon] PRIMARY KEY CLUSTERED 
(
	[MaKieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[MaPhieuMuon] [varchar](15) NOT NULL,
	[MaTheMuon] [varchar](10) NULL,
	[MaKieuMuon] [varchar](10) NULL,
	[NgayMuon] [date] NULL,
	[HanTra] [date] NULL,
	[NgayThucTra] [date] NULL,
	[MaThuThu] [varchar](10) NULL,
 CONSTRAINT [PK_PhieuMuon] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuPhat]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuPhat](
	[MaPhieuPhat] [varchar](15) NOT NULL,
	[MaPhieuMuon] [varchar](15) NOT NULL,
	[NgayNopPhat] [date] NULL,
	[MaThuThu] [varchar](10) NULL,
 CONSTRAINT [PK_PhieuPhat] PRIMARY KEY CLUSTERED 
(
	[MaPhieuPhat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanDN]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanDN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[MaThuThu] [varchar](10) NULL,
	[Quyen] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_TaiKhoanDN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuThu]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuThu](
	[MaThuThu] [varchar](10) NOT NULL,
	[TenThuThu] [nvarchar](50) NULL,
	[HinhAnh] [varbinary](max) NULL,
	[Email] [varchar](50) NULL,
	[SDT] [varchar](15) NULL,
 CONSTRAINT [PK_ThuThu] PRIMARY KEY CLUSTERED 
(
	[MaThuThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViPham]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViPham](
	[MaViPham] [varchar](15) NOT NULL,
	[TenViPham] [nvarchar](50) NULL,
	[HinhThucPhat] [nvarchar](50) NULL,
 CONSTRAINT [PK_ViPham] PRIMARY KEY CLUSTERED 
(
	[MaViPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChuDe] ([MaChuDe], [TenChuDe]) VALUES (N'BDS', N'Bất động sản')
INSERT [dbo].[ChuDe] ([MaChuDe], [TenChuDe]) VALUES (N'CN', N'Công nghệ thông tin')
INSERT [dbo].[ChuDe] ([MaChuDe], [TenChuDe]) VALUES (N'CNTT', N'Công nghệ thông tin')
GO
INSERT [dbo].[CT_PhieuMuon] ([MaPhieuMuon], [MaSach], [TinhTrangMuon], [DaTraSach], [TinhTrangTra]) VALUES (N'PM01', N'CD06_01', N'OK', 1, N'OK')
INSERT [dbo].[CT_PhieuMuon] ([MaPhieuMuon], [MaSach], [TinhTrangMuon], [DaTraSach], [TinhTrangTra]) VALUES (N'PM01', N'GT08_01', N'OK', 1, N'OK')
INSERT [dbo].[CT_PhieuMuon] ([MaPhieuMuon], [MaSach], [TinhTrangMuon], [DaTraSach], [TinhTrangTra]) VALUES (N'PM02', N'TC03_04', N'OK', 1, N'OK')
GO
INSERT [dbo].[CT_PhieuPhat] ([MaPhieuPhat], [MaSach], [MaViPham], [NopPhat]) VALUES (N'PP01', N'GT04_04', N'VP03', 10000)
INSERT [dbo].[CT_PhieuPhat] ([MaPhieuPhat], [MaSach], [MaViPham], [NopPhat]) VALUES (N'PP01', N'TC02_04', N'VP03', 10000)
INSERT [dbo].[CT_PhieuPhat] ([MaPhieuPhat], [MaSach], [MaViPham], [NopPhat]) VALUES (N'PP02', N'GT10_04', N'VP03', 10000)
GO
INSERT [dbo].[CuonSach] ([MaSach], [MaDauSach], [TinhTrang]) VALUES (N'CD01_01', N'CD01', N'Còn')
INSERT [dbo].[CuonSach] ([MaSach], [MaDauSach], [TinhTrang]) VALUES (N'CD01_02', N'CD01', N'Còn')
INSERT [dbo].[CuonSach] ([MaSach], [MaDauSach], [TinhTrang]) VALUES (N'CD01_03', N'CD01', N'Còn')
GO
INSERT [dbo].[DauSach] ([MaDauSach], [TenDauSach], [NamXuatBan], [GiaBia], [SoTrang], [MaLoaiSach], [MaChuDe], [MaNXB], [MaKho]) VALUES (N'CD01', N'Quản lý chất lượng các dự án phần mềm', 2022, 100000, 389, N'CD', N'KHQL', N'NEU', N'LVLA')
INSERT [dbo].[DauSach] ([MaDauSach], [TenDauSach], [NamXuatBan], [GiaBia], [SoTrang], [MaLoaiSach], [MaChuDe], [MaNXB], [MaKho]) VALUES (N'CD02', N'Quản lý dịch vụ chăm sóc khách hàng', 2022, 150000, 267, N'CD', N'KHQL', N'NEU', N'LVLA')
INSERT [dbo].[DauSach] ([MaDauSach], [TenDauSach], [NamXuatBan], [GiaBia], [SoTrang], [MaLoaiSach], [MaChuDe], [MaNXB], [MaKho]) VALUES (N'CD03', N'Phân tích các nhân tố ảnh hưởng đến hành vi người dùng', 2023, 100000, 477, N'CD', N'KTKT', N'NEU', N'LVLA')
GO
INSERT [dbo].[DauSach_TacGia] ([MaDauSach], [MaTG]) VALUES (N'CD01', N'TG01')
INSERT [dbo].[DauSach_TacGia] ([MaDauSach], [MaTG]) VALUES (N'CD01', N'TG02')
INSERT [dbo].[DauSach_TacGia] ([MaDauSach], [MaTG]) VALUES (N'CD02', N'TG02')
GO
INSERT [dbo].[DocGia] ([MaTheMuon], [HoTen], [HinhAnh], [NgheNghiep], [NgayCapThe], [NgayHanThe]) VALUES (N'TM002', N'Lý Hữu Anh', NULL, N'Sinh viên', CAST(N'2024-12-24' AS Date), CAST(N'2026-01-08' AS Date))
INSERT [dbo].[DocGia] ([MaTheMuon], [HoTen], [HinhAnh], [NgheNghiep], [NgayCapThe], [NgayHanThe]) VALUES (N'TM003', N'Bùi Tấn Quang', NULL, N'Sinh viên', CAST(N'2024-07-13' AS Date), CAST(N'2025-08-05' AS Date))
GO
INSERT [dbo].[KhoSach] ([MaKho], [TenKho]) VALUES (N'GTL', N'Kho giáo trình - Lưu')
INSERT [dbo].[KhoSach] ([MaKho], [TenKho]) VALUES (N'KIN', N'Kho kín T4')
INSERT [dbo].[KhoSach] ([MaKho], [TenKho]) VALUES (N'KINL', N'Kho kín - Lưu')
GO
INSERT [dbo].[KieuMuon] ([MaKieuMuon], [TenKieuMuon]) VALUES (N'MV', N'Mượn về')
INSERT [dbo].[KieuMuon] ([MaKieuMuon], [TenKieuMuon]) VALUES (N'TC', N'Tại chỗ')
GO
INSERT [dbo].[LoaiSach] ([MaLoaiSach], [TenLoaiSach]) VALUES (N'CD', N'Chuyên đề')
INSERT [dbo].[LoaiSach] ([MaLoaiSach], [TenLoaiSach]) VALUES (N'GT', N'Giáo trình')
INSERT [dbo].[LoaiSach] ([MaLoaiSach], [TenLoaiSach]) VALUES (N'LA', N'Luận án')
GO
INSERT [dbo].[NXB] ([MaNXB], [TenNXB]) VALUES (N'CAND', N'Công An Nhân Dân')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB]) VALUES (N'CTQGST', N'Chính trị Quốc gia Sự thật')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB]) VALUES (N'CUP', N'Cambridge University Press')
GO
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaTheMuon], [MaKieuMuon], [NgayMuon], [HanTra], [NgayThucTra], [MaThuThu]) VALUES (N'PM01', N'TM001', N'MV', CAST(N'2024-12-13' AS Date), CAST(N'2025-01-03' AS Date), CAST(N'2024-12-31' AS Date), N'TT01')
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaTheMuon], [MaKieuMuon], [NgayMuon], [HanTra], [NgayThucTra], [MaThuThu]) VALUES (N'PM02', N'TM002', N'MV', CAST(N'2024-07-24' AS Date), CAST(N'2024-10-21' AS Date), CAST(N'2024-08-23' AS Date), N'TT04')
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaTheMuon], [MaKieuMuon], [NgayMuon], [HanTra], [NgayThucTra], [MaThuThu]) VALUES (N'PM03', N'TM003', N'MV', CAST(N'2024-09-08' AS Date), CAST(N'2024-10-17' AS Date), CAST(N'2024-10-06' AS Date), N'TT02')
GO
INSERT [dbo].[PhieuPhat] ([MaPhieuPhat], [MaPhieuMuon], [NgayNopPhat], [MaThuThu]) VALUES (N'PP01', N'PM03', CAST(N'2024-07-20' AS Date), N'TT02')
INSERT [dbo].[PhieuPhat] ([MaPhieuPhat], [MaPhieuMuon], [NgayNopPhat], [MaThuThu]) VALUES (N'PP02', N'PM06', CAST(N'2024-08-15' AS Date), N'TT02')
INSERT [dbo].[PhieuPhat] ([MaPhieuPhat], [MaPhieuMuon], [NgayNopPhat], [MaThuThu]) VALUES (N'PP03', N'PM08', CAST(N'2024-10-25' AS Date), N'TT03')
GO
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [GioiTinh], [NamSinh]) VALUES (N'DAT', N'DATE 234', N'Nữ', 2024)
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [GioiTinh], [NamSinh]) VALUES (N'DMT', N'Đỗ Mạnh Toàn', N'Nam', 2004)
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [GioiTinh], [NamSinh]) VALUES (N'KK', N'DMT', N'Nam', 2024)
GO
SET IDENTITY_INSERT [dbo].[TaiKhoanDN] ON 

INSERT [dbo].[TaiKhoanDN] ([ID], [TenDangNhap], [Email], [MatKhau], [MaThuThu], [Quyen]) VALUES (1, N'admin', N'admin123', N'123', NULL, N'admin')
INSERT [dbo].[TaiKhoanDN] ([ID], [TenDangNhap], [Email], [MatKhau], [MaThuThu], [Quyen]) VALUES (2, N'hoa1892004', N'hoa123@gmail.com', N'123456789', N'TT01', N'thuthu')
INSERT [dbo].[TaiKhoanDN] ([ID], [TenDangNhap], [Email], [MatKhau], [MaThuThu], [Quyen]) VALUES (3, N'longdz', N'long123@gmail.com', N'123456789', N'TT02', N'thuthu')
SET IDENTITY_INSERT [dbo].[TaiKhoanDN] OFF
GO
INSERT [dbo].[ThuThu] ([MaThuThu], [TenThuThu], [HinhAnh], [Email], [SDT]) VALUES (N'TT02', N'Trần Minh Châu', NULL, N'tran.minhchau@gmail.com', N'0938123456')
INSERT [dbo].[ThuThu] ([MaThuThu], [TenThuThu], [HinhAnh], [Email], [SDT]) VALUES (N'TT03', N'Phạm Gia Hân', NULL, N'pham.giahan@gmail.com', N'0909876543')
GO
INSERT [dbo].[ViPham] ([MaViPham], [TenViPham], [HinhThucPhat]) VALUES (N'VP01', N'Làm mất sách', N'Đền tiền bằng giá bìa')
INSERT [dbo].[ViPham] ([MaViPham], [TenViPham], [HinhThucPhat]) VALUES (N'VP02', N'Giữ sách quá hạn', N'Nộp lệ phí quá hạn 3000đ/tài liệu/ngày')
INSERT [dbo].[ViPham] ([MaViPham], [TenViPham], [HinhThucPhat]) VALUES (N'VP03', N'Làm rách, viết hoặc vẽ bậy lên sách (ít)', N'Cảnh cáo, phạt tiền')
GO
ALTER TABLE [dbo].[CT_PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuMuon_CuonSach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[CuonSach] ([MaSach])
GO
ALTER TABLE [dbo].[CT_PhieuMuon] CHECK CONSTRAINT [FK_CT_PhieuMuon_CuonSach]
GO
ALTER TABLE [dbo].[CT_PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuMuon_PhieuMuon] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PhieuMuon] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[CT_PhieuMuon] CHECK CONSTRAINT [FK_CT_PhieuMuon_PhieuMuon]
GO
ALTER TABLE [dbo].[CT_PhieuPhat]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuPhat_CuonSach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[CuonSach] ([MaSach])
GO
ALTER TABLE [dbo].[CT_PhieuPhat] CHECK CONSTRAINT [FK_CT_PhieuPhat_CuonSach]
GO
ALTER TABLE [dbo].[CT_PhieuPhat]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuPhat_PhieuPhat] FOREIGN KEY([MaPhieuPhat])
REFERENCES [dbo].[PhieuPhat] ([MaPhieuPhat])
GO
ALTER TABLE [dbo].[CT_PhieuPhat] CHECK CONSTRAINT [FK_CT_PhieuPhat_PhieuPhat]
GO
ALTER TABLE [dbo].[CT_PhieuPhat]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuPhat_ViPham] FOREIGN KEY([MaViPham])
REFERENCES [dbo].[ViPham] ([MaViPham])
GO
ALTER TABLE [dbo].[CT_PhieuPhat] CHECK CONSTRAINT [FK_CT_PhieuPhat_ViPham]
GO
ALTER TABLE [dbo].[CuonSach]  WITH CHECK ADD  CONSTRAINT [FK_CuonSach_DauSach] FOREIGN KEY([MaDauSach])
REFERENCES [dbo].[DauSach] ([MaDauSach])
GO
ALTER TABLE [dbo].[CuonSach] CHECK CONSTRAINT [FK_CuonSach_DauSach]
GO
ALTER TABLE [dbo].[DauSach]  WITH CHECK ADD  CONSTRAINT [FK_DauSach_ChuDe] FOREIGN KEY([MaChuDe])
REFERENCES [dbo].[ChuDe] ([MaChuDe])
GO
ALTER TABLE [dbo].[DauSach] CHECK CONSTRAINT [FK_DauSach_ChuDe]
GO
ALTER TABLE [dbo].[DauSach]  WITH CHECK ADD  CONSTRAINT [FK_DauSach_KhoSach] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KhoSach] ([MaKho])
GO
ALTER TABLE [dbo].[DauSach] CHECK CONSTRAINT [FK_DauSach_KhoSach]
GO
ALTER TABLE [dbo].[DauSach]  WITH CHECK ADD  CONSTRAINT [FK_DauSach_LoaiSach] FOREIGN KEY([MaLoaiSach])
REFERENCES [dbo].[LoaiSach] ([MaLoaiSach])
GO
ALTER TABLE [dbo].[DauSach] CHECK CONSTRAINT [FK_DauSach_LoaiSach]
GO
ALTER TABLE [dbo].[DauSach]  WITH CHECK ADD  CONSTRAINT [FK_DauSach_NXB] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NXB] ([MaNXB])
GO
ALTER TABLE [dbo].[DauSach] CHECK CONSTRAINT [FK_DauSach_NXB]
GO
ALTER TABLE [dbo].[DauSach_TacGia]  WITH CHECK ADD  CONSTRAINT [FK_DauSach_TacGia_DauSach] FOREIGN KEY([MaDauSach])
REFERENCES [dbo].[DauSach] ([MaDauSach])
GO
ALTER TABLE [dbo].[DauSach_TacGia] CHECK CONSTRAINT [FK_DauSach_TacGia_DauSach]
GO
ALTER TABLE [dbo].[DauSach_TacGia]  WITH CHECK ADD  CONSTRAINT [FK_DauSach_TacGia_TacGia] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
GO
ALTER TABLE [dbo].[DauSach_TacGia] CHECK CONSTRAINT [FK_DauSach_TacGia_TacGia]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_DocGia] FOREIGN KEY([MaTheMuon])
REFERENCES [dbo].[DocGia] ([MaTheMuon])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_DocGia]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_KieuMuon] FOREIGN KEY([MaKieuMuon])
REFERENCES [dbo].[KieuMuon] ([MaKieuMuon])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_KieuMuon]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_ThuThu] FOREIGN KEY([MaThuThu])
REFERENCES [dbo].[ThuThu] ([MaThuThu])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_ThuThu]
GO
ALTER TABLE [dbo].[PhieuPhat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuPhat_PhieuMuon] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PhieuMuon] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[PhieuPhat] CHECK CONSTRAINT [FK_PhieuPhat_PhieuMuon]
GO
ALTER TABLE [dbo].[PhieuPhat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuPhat_ThuThu] FOREIGN KEY([MaThuThu])
REFERENCES [dbo].[ThuThu] ([MaThuThu])
GO
ALTER TABLE [dbo].[PhieuPhat] CHECK CONSTRAINT [FK_PhieuPhat_ThuThu]
GO
ALTER TABLE [dbo].[TaiKhoanDN]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoanDN_ThuThu] FOREIGN KEY([MaThuThu])
REFERENCES [dbo].[ThuThu] ([MaThuThu])
GO
ALTER TABLE [dbo].[TaiKhoanDN] CHECK CONSTRAINT [FK_TaiKhoanDN_ThuThu]
GO
/****** Object:  StoredProcedure [dbo].[ThemCuonSach]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemCuonSach]
    @MaSach NVARCHAR(20),
    @MaDauSach NVARCHAR(20),
    @TinhTrang NVARCHAR(50)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM CuonSach WHERE MaSach = @MaSach)
    BEGIN
        INSERT INTO CuonSach (MaSach, MaDauSach, TinhTrang)
        VALUES (@MaSach, @MaDauSach, @TinhTrang)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ThemDauSachTacGia]    Script Date: 11/13/2024 9:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemDauSachTacGia]
    @MaDauSach NVARCHAR(20),
    @MaTG NVARCHAR(20)
AS
BEGIN
    -- Kiểm tra nếu mối quan hệ MaDauSach và MaTacGia đã tồn tại
    IF NOT EXISTS (SELECT 1 FROM DauSach_TacGia WHERE MaDauSach = @MaDauSach AND MaTG = @MaTG)
    BEGIN
        -- Thêm mối quan hệ mới nếu chưa tồn tại
        INSERT INTO DauSach_TacGia (MaDauSach, MaTG)
        VALUES (@MaDauSach, @MaTG)
    END
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ds"
            Begin Extent = 
               Top = 10
               Left = 67
               Bottom = 240
               Right = 315
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ls"
            Begin Extent = 
               Top = 240
               Left = 67
               Bottom = 406
               Right = 315
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "cd"
            Begin Extent = 
               Top = 410
               Left = 67
               Bottom = 576
               Right = 315
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "NXB"
            Begin Extent = 
               Top = 580
               Left = 67
               Bottom = 746
               Right = 315
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ks"
            Begin Extent = 
               Top = 750
               Left = 67
               Bottom = 916
               Right = 315
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "temp"
            Begin Extent = 
               Top = 10
               Left = 382
               Bottom = 176
               Right = 630
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "temp2"
            Begin Extent = 
               Top = 10
               Left = 697
               Bottom = 176
               Right = 945
            End
            DisplayFlags = 280
            TopColumn = 0
  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ChiTiet_DauSach'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'       End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1174
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1354
         SortOrder = 1414
         GroupBy = 1350
         Filter = 1354
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ChiTiet_DauSach'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ChiTiet_DauSach'
GO
